---
# Metadata comes from _data/metadata.js
permalink: /feed/feed.json
---
{
	"version": "https://www.jsonfeed.org/version/1.1/",
	"title": "{{ metadata.title }}",
	"language": "{{ metadata.language }}",
	"home_page_url": "{{ metadata.url | addPathPrefixToFullUrl }}",
	"feed_url": "{{ permalink | htmlBaseUrl(metadata.url) }}",
	"description": "{{ metadata.description | safe }}",
	"authors": [{
		"name": "{{ metadata.author.name }}",
		"url": "{{ metadata.author.url }}"
	}],
	{#- Deprecated field of v1.0 kept for retrocompatibility #}
	"author": {
		"name": "{{ metadata.author.name }}",
		"url": "{{ metadata.author.url }}"
	},
	"icon": "{{ '/apple-touch-icon.png' | htmlBaseUrl(metadata.url) }}",
	"favicon": "{{ '/favicon-64x64.png' | htmlBaseUrl(metadata.url) }}",
	"items": [
		{%- for post in collections.posts | reverse %}
		{%- set absolutePostUrl = post.url | htmlBaseUrl(metadata.url) %}
		{#- TODO: Add `tags` list #}
		{
			"id": "{{ absolutePostUrl }}",
			"url": "{{ absolutePostUrl }}",
			"title": "{{ post.data.title | safe }}",
		{%- if post.data.description %}
			"summary": "{{ post.data.description | safe }}",
		{%- endif %}
			"date_published": "{{ post.date | dateToRfc3339 }}",
		{%- if post.data.showLastEdited %}
			"date_modified": "{{ post.data.lastEdited | dateToRfc3339 }}",
		{%- endif %}
			"content_html": {% if post.templateContent %}{{ post.templateContent | transformWithHtmlBase(absolutePostUrl, post.url) | dump | safe }}{% else %}""{% endif %}
		}
		{% if not loop.last %},{% endif %}
		{%- endfor %}
	]
}
