.divider-with-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
  margin: 1.25em 0 1em 0;
}

.related-posts {
  margin: 3em 0 1em 0;
}

.half-divider {
  flex-grow: 1;
  height: 1px;
  background-color: var(--title-color);
}

.divider-with-title > span {
  color: var(--title-color);
  padding: 0 0.5em;
  font-size: 0.85em;
  text-transform: uppercase;
}

.series-nav {
  display: flex;
  flex-direction: column;
}

.series-nav.reversed {
  display: flex;
  flex-direction: column-reverse;
}

.series-nav + hr {
  margin-top: 1.25em;
}

.series-nav .card.small {
  margin: 0.5em 0;
}

.changelog {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

/* --- Content -------------------------------------------------- */

.header-anchor {
  color: var(--faded-text);
  font-size: 0.8em;
  font-weight: 500;
  display: none;
}

h2:hover > .header-anchor,
h3:hover > .header-anchor {
  display: inline-block;
}

.toc-container {
  margin-bottom: 1.25em;
}

.toc {
  padding: 1em 2em;
}

span.completed {
  color: var(--subtitle-color);
  font-weight: 200;
}

/* FIXME: too much bottom padding for h4 titles */

/* --- Sticky TOC -------------------------------------------------- */

.sticky-toc {
  display: none;
}

/* TODO: Add a nice transition animation for collapse and expand */

/* Margins are available */
@media (min-width: 1366px) {
  .toc-container {
    display: none;
  }

  hr {
    margin-bottom: 1.5em;
  }

  .sticky-toc {
    display: block;
    margin-top: 12rem;
    font-size: 1.2rem;
    line-height: 1.3;
    position: sticky;
    float: left;
    clear: left;
    top: 3em;
    width: 35%;
    margin-left: -40%;
  }

  .sticky-toc ol {
    list-style-type: none;
    padding: 0;
  }

  .sticky-toc ol ol {
    padding-left: 1em;
  }

  .sticky-toc .toc {
    padding: 0;
  }

  .toc-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    gap: 0.5em;
    color: var(--title-color);
  }

  .toc-title {
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--serif-font);
  }

  .toc-folded-title {
    display: none;
    font-weight: 400;
    font-family: var(--serif-font);
    font-size: 2rem;
  }

  .toc-divider {
    height: 2px;
    width: 100%;
    background-color: var(--title-color);
    margin: 0.75em 0 1em 0;
  }

  .sticky-toc a {
    font-weight: 700;
    color: var(--title-color);
  }

  .sticky-toc ol ol a {
    font-weight: 500;
  }

  .sticky-toc a:hover {
    color: var(--link-hover-color);
  }

  input.toc-toggle {
    display: none;
  }

  label.toc-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  label.toc-toggle:hover {
    color: var(--text-color);
  }

  input.toc-toggle:checked ~ .toc {
    display: none;
  }

  input.toc-toggle:checked ~ .toc-header {
    color: var(--faded-text);
    justify-content: flex-end;
  }

  input.toc-toggle:checked ~ .toc-divider {
    display: none;
  }

  .toc-fold,
  .toc-expand {
    /* HACK: weird fix to align the SVG within the label */
    margin-top: 2px;
  }

  .toc-fold {
    display: block;
  }

  .toc-expand {
    display: none;
  }

  input.toc-toggle:checked + .toc-header .toc-fold {
    display: none;
  }

  input.toc-toggle:checked + .toc-header .toc-title {
    font-weight: 400;
    font-size: 1.8rem;
  }

  input.toc-toggle:checked + .toc-header .toc-expand,
  input.toc-toggle:checked + .toc-header .toc-folded-title {
    display: block;
  }
}

@media (min-width: 1440px) {
  .sticky-toc {
    margin-left: -42%;
  }
}

@media (min-width: 1520px) {
  .sticky-toc {
    width: 37%;
    margin-left: -45%;
  }
}

@media (min-width: 1920px) {
  .sticky-toc {
    width: 40%;
    margin-left: -50%;
  }

  .toc-title,
  .toc-folded-title {
    font-size: 2.2rem;
  }

  input.toc-toggle:checked + .toc-header .toc-title {
    font-size: 2rem;
  }

  .sticky-toc {
    font-size: 1.3rem;
    line-height: 1.3;
  }

  .toc-fold,
  .toc-expand {
    /* HACK: weird fix to align the SVG within the label */
    margin-top: 3px;
  }
}
