/* --- Tufte side and margin notes ------------------------------------------ */

main {
	counter-reset: sidenote-counter;
}

.sidenote-number {
	counter-increment: sidenote-counter;
}

/* Style the sidenote number/icon */
.sidenote-number:after,
.sidenote:before {
	position: relative;
	vertical-align: baseline;
	font-weight: 700;
	color: var(--link-color);
	font-size: 0.7em;
}

.sidenote-number:after {
	content: counter(sidenote-counter);
	top: -0.5rem;
	left: 0.1rem;
	padding-left: 0.1ch;
	padding-right: 0.3ch;
}

.sidenote:before {
	content: counter(sidenote-counter) " ";
	top: -0.4rem;
	left: -0.5em;
}

/* Style the icon/number container */
label.sidenote-number {
	display: inline-block;
	max-height: 1.6rem; /* should be <= to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
	display: inline;
	font-size: 0.75em;
	vertical-align: text-top;
}

.sidenote-number:after,
label.margin-toggle:not(.sidenote-number) {
	cursor: pointer;
	transition: color var(--transition-delay);
	transition: vertical-align var(--transition-delay);
	transition: text-shadow var(--transition-delay);
}

.sidenote-number:hover:after {
	color: var(--link-hover-color);
}

label.margin-toggle:hover:not(.sidenote-number) {
	vertical-align: baseline;
	text-shadow: 0 0 10px var(--link-hover-color);
}

/* Hide the note content by default (when unchecked) */
.sidenote,
.marginnote {
	display: none;
}

/* Don't show the HTML checkbox */
input.margin-toggle {
	display: none;
}

/* Make notes appear on icon toggle */
.margin-toggle:checked + .sidenote,
.margin-toggle:checked + .marginnote {
	display: block;
	float: left;
	left: 1rem;
	clear: both;
	width: 95%;
	margin: 1rem 2.5%;
	position: relative;
	font-size: 1.6rem;
}

/* --- Margins are available ------------------------------------------------ */
@media (min-width: 1280px) {
	/* Show sidenotes by default */
	.sidenote,
	.marginnote {
		display: block;
	}

	/* Hide margin note toggle icon */
	label.margin-toggle:not(.sidenote-number) {
		display: none;
	}

	.sidenote-number:after {
		cursor: default;
	}

	.sidenote-number:hover:after {
		color: var(--link-color);
	}

	/* Move note content on the right margin wether toggled or not */
	.sidenote,
	.marginnote,
	.margin-toggle:checked + .sidenote,
	.margin-toggle:checked + .marginnote {
		position: relative;
		float: right;
		clear: right;
		left: 0; /* Reset the left margin from the toggled notes */
		margin-top: 0.3rem;
		margin-bottom: 0;
		font-size: 1.2rem;
		line-height: 1.3;
		/*
		* Tweak these two values to change the position of the note.
		* Changing one will affect the other.
		* - width : how large the note container is
		* - margin-right : how close or far from the main text the note is.
		*/
		width: 33%;
		margin-right: -36%;
	}
}

/* Get more breathing room on larger screens */

@media (min-width: 1366px) {
	.sidenote,
	.marginnote,
	.margin-toggle:checked + .sidenote,
	.margin-toggle:checked + .marginnote {
		line-height: 1.5;
		width: 35%;
		margin-right: -40%;
	}
}

@media (min-width: 1440px) {
	.sidenote,
	.marginnote,
	.margin-toggle:checked + .sidenote,
	.margin-toggle:checked + .marginnote {
		width: 38%;
		margin-right: -45%;
	}
}

@media (min-width: 1520px) {
	.sidenote,
	.marginnote,
	.margin-toggle:checked + .sidenote,
	.margin-toggle:checked + .marginnote {
		font-size: 1.3rem;
		width: 45%;
		margin-right: -52%;
	}
}

@media (min-width: 1920px) {
	.sidenote,
	.marginnote,
	.margin-toggle:checked + .sidenote,
	.margin-toggle:checked + .marginnote {
		width: 50%;
		margin-right: -60%;
	}
}
