---
layout: base
title: Latest
description: The list of all blog posts from newest to oldest.
eleventyNavigation:
  key: Blog
  order: 2
---

<h1>Latest Posts</h1>

{% from 'post-link.njk' import postLink %}

{% set postslist = collections.posts %}

{% for post in postslist | reverse %}
	{{ postLink(post) }}
{% endfor %}
