---
layout: base
isHome: true
eleventyNavigation:
  key: Home
  order: 1
---

<p>Welcome!</p>

<p>This blog is about using discernment to experience more fulfillment. It's based on the premise that greater understanding leads to better decisions. As such, it seeks to compile a holistic blend of the best mindsets, frameworks and practices to adopt in the key areas of life. It opts for an integrative approach, aiming to balance the rigor and reliability of objectivity with the source of meaning and values found in subjectivity.</p>

<p>If you'd like to peruse the blog's content, take a look at the <a href="/blog/">latest posts</a>.</p>

<p>I'm just getting started, so the following posts are the only options on the menu right now, but more will be coming soon.</p>

<div style="margin: 2em 0;">
{%- from 'post-link.njk' import postLink %}
{%- set featured = collections.posts | getByFileSlug('2023-07_empathy-bottleneck') %}
{{- postLink(featured, isSmall = true) }}
{%- set featured2 = collections.posts | getByFileSlug('2023-07-21_exercise-routine') %}
{{- postLink(featured2, isSmall = true) }}
</div>

<p>For more details on the website and its author, you can read the <a href="/about/">About</a> page.</p>

<p>Should you want to get in touch, you can find <a href="{{ metadata.author.contact }}">my contact information</a> here.</p>

<p>Thanks for coming by. I hope you enjoy your stay!</p>
