---
layout: base
isHome: true
eleventyNavigation:
  key: Home
  order: 1
---

<p>Welcome!</p>

<p>This blog is about using discernment to experience more fulfillment. It's based on the premise that greater understanding leads to better decisions. As such, it seeks to compile a holistic blend of the best mindsets, frameworks and practices to adopt in the key areas of life. It opts for an integrative approach, aiming to balance the rigor and reliability of objectivity with the source of meaning and values found in subjectivity.</p>

<p>If you'd like to peruse the blog's content, take a look at the <a href="/blog/">latest posts</a>.</p>

<p>If you're interested in a bit more curation, you may want to check if any of these featured posts strikes your fancy.</p>

<div style="margin: 2em 0;">
{%- from 'post-link.njk' import postLink %}
{%- set featured1 = collections.posts | getByFileSlug('2024-02_too-skeptical-to-disbelieve') %}
{{- postLink(featured1, isSmall = true) }}
{%- set featured2 = collections.posts | getByFileSlug('2024-04_ideological-imperialism') %}
{{- postLink(featured2, isSmall = true) }}
{%- set featured3 = collections.posts | getByFileSlug('2024-07_epistemic-barter') %}
{{- postLink(featured3, isSmall = true) }}
</div>

<p>For more details on the website and its author, you can read the <a href="/about/">about</a> pages.</p>

<p>Should you want to get in touch, look up my <a href="/contact">contact information</a> page.</p>

<p>Thanks for coming by. I hope you enjoy your stay!</p>
