{# TODO: add an option for new tab (target blank) or not #}
{% macro cardLink(
		title,
		description,
		url,
		metadataSlot = null,
		isSmall = false,
		isPrevious = false,
		isNext = false
	)
%}
	<a class="card{{ ' small' if isSmall }}" href="{{ url }}" aria-label="{{ title }}">
		{% if isPrevious %}
			<div class="card-icon previous">
				<svg width="40" height="40">
					<use xlink:href="#lucide-previous"></use>
				</svg>
				<p>Previous</p>
			</div>
		{% endif %}

		<article class="card-text">
			<span class="card-title">
				{{ title }}
			</span>

			{% if metadataSlot %} {{ metadataSlot | safe }} {% endif %}

			<span class="card-description">
				{{ description }}
			</span>
		</article>

		{% if isNext %}
			<div class="card-icon next">
				<svg width="40" height="40">
					<use xlink:href="#lucide-next"></use>
				</svg>
				<p>Next</p>
			</div>
		{% endif %}
	</a>
{% endmacro %}
