<div class="footer">
  <div class="container">
    <a href="/license">{{ metadata.license.label }}</a>
    <div class="footer-right">
      <a href="https://www.youtube.com/@ThoughtfulInquiry">YouTube Channel</a>
      <a href="/privacy">Privacy</a>
    </div>
  </div>
</div>
