<div class="footer">
  <div class="container">
    <a target="_blank" href="/license">{{ metadata.license.label }}</a>
    <div class="footer-right">
      <a target="_blank" href="/privacy">Privacy</a>
    </div>
  </div>
</div>