{% from 'card-link.njk' import cardLink %}

{% macro postSeries(previous, next, seriesData, isReversed = false) %}

	{% if previous or next %}

		{% set seriesLabel %}{{ seriesData.title }}: Part {{ seriesData.index }} / {{ seriesData.total }}{% endset %}
		<div class="series-header">
			<div class="half-divider"></div>
			{#-
				Accessibility & uppercase text
				https://www.stefanjudis.com/today-i-learned/text-transforms-affects-screen-readers-too/
				https://www.timdunklee.com/notes/use-css-text-transform-for-uppercase-letters-a11y/
			#}
			<span aria-label="{{ seriesLabel }}">{{ seriesLabel }}</span>
			<div class="half-divider"></div>
		</div>

		<div class="series-nav{{ ' reversed' if isReversed }}">

			{% if previous %}

				{{
					cardLink(
						title = previous.data.title,
						description = previous.data.description,
						url = previous.page.url,
						isSmall = true,
						isPrevious = true
					)
				}}

			{% endif %}

			{% if next %}

				{{
					cardLink(
						title = next.data.title,
						description = next.data.description,
						url = next.page.url,
						isSmall = true,
						isNext = true
					)
				}}

			{% endif %}

		</div>

	{% endif %}

{% endmacro %}
