{% from 'card-link.njk' import cardLink %}

{% macro postLink(post, isSmall = false) %}

	{%- set metadata %}
		<ul class="metadata-line">
			<li class="metadata-item">
				<span class="metadata-icon">📨</span>
				<time datetime="{{ post.page.date | htmlDateString }}">
					{{ post.page.date | formatDate('MMM DD, YYYY') }}
				</time>
			</li>
			<li class="metadata-item">
				<span class="metadata-icon">⏱️</span>
				{{ post.content | wordCount | readTime }} min
			</li>

			{%- for tag in post.data.tags | filterTagList %}
				<li class="tag">{{ tag }}</li>
			{%- endfor %}

		</ul>
	{% endset %}

	{{ cardLink(
			title = post.data.title,
			description = post.data.description,
			url = post.page.url,
			metadataSlot = metadata,
			isSmall = isSmall
		)
	}}

{% endmacro %}
