---
layout: page
title: NVC Needs & Feelings Inventories
---

<p>Here are the feelings and needs inventories from the Nonviolent Communication book with a few extras and personal tweaks:</p>

<ul>
	<li><strong>Feelings:</strong> <a href="pleasant-feelings">pleasant</a> and <a href="unpleasant-feelings">unpleasant</a></li>
	<li><a href="needs">Needs</a></li>
</ul>

<p>These used to be easily available on the official website but they've now been locked behind an email address input as a PDF lead magnet.</p>

<p>I don't think Marshall Rosenberg would have wanted to gate-keep such an important lifeline. Feels like a bit of a Jackal low blow to me :P. Plus, the PDF isn't the most ergonomic. It's also more convenient to access a web page than to download a file on all your devices.</p>

<p> To learn more about NVC check out these blog posts:</p>

<div style="margin: 2em 0;">
{%- from 'post-link.njk' import postLink %}

{%- set featured1 = collections.posts | getByFileSlug('2023-07_empathy-bottleneck') %}
{{- postLink(featured1, isSmall = true) }}

{%- set featured2 = collections.posts | getByFileSlug('2023-10_constructive-empathic-inquiry') %}
{{- postLink(featured2, isSmall = true) }}
</div>

