---
layout: page
title: NVC Needs Inventory
---

<details>
	<summary>
		Navigation
	</summary>

	<ul>
		<li>Go <a href="/resources/nvc-inventories">back to the inventory list</a></li>
		<li><a href="/resources/nvc-inventories/pleasant-feelings">Pleasant feelings</a> list</li>
		<li><a href="/resources/nvc-inventories/unpleasant-feelings">Unpleasant feelings</a> list</li>
	</ul>
</details>

<p>Note: this list isn't exhaustive so feel free to complement it on your end. Moreover, the section titles are needs too.</p>

<div class="two-col-lists">

<h2 id="autonomy">Autonomy</h2>

<ul>
	<li>boundaries</li>
	<li>choice</li>
	<li>confidence</li>
	<li>exploration</li>
	<li>freedom</li>
	<li>independence</li>
	<li>space</li>
	<li>privacy</li>
</ul>

<h2 id="connection">Connection</h2>

<ul>
	<li>acceptance</li>
	<li>affection</li>
	<li>attention</li>
	<li>appreciation</li>
	<li>belonging</li>
	<li>cooperation</li>
	<li>communication</li>
	<li>closeness</li>
	<li>community</li>
	<li>companionship</li>
	<li>compassion</li>
	<li>consideration</li>
	<li>consistency</li>
	<li>cooperation</li>
	<li>emotional safety</li>
	<li>empathy</li>
	<li>inclusion</li>
	<li>intimacy</li>
	<li>love</li>
	<li>mutuality</li>
	<li>nurturing</li>
	<li>partnership</li>
	<li>reciprocity</li>
	<li>respect/self-respect</li>
	<li>safety</li>
	<li>security</li>
	<li>stability</li>
	<li>support</li>
	<li>to know and be known</li>
	<li>to see and be seen</li>
	<li>to understand and be understood</li>
	<li>trust</li>
	<li>validation</li>
	<li>warmth</li>
</ul>

<h2 id="contribution">Contribution</h2>

<ul>
	<li>challenge</li>
	<li>competence</li>
	<li>contribution</li>
	<li>efficacy</li>
	<li>effectiveness</li>
	<li>participation</li>
	<li>purpose</li>
	<li>to give/nurture</li>
	<li>to matter</li>
	<li>to share</li>
	<li>to teach/assist</li>
</ul>

<h2 id="growth">Growth</h2>

<ul>
	<li>achievement</li>
	<li>discovery</li>
	<li>expansiveness</li>
	<li>learning</li>
	<li>opportunity</li>
	<li>progress</li>
	<li>self-development</li>
	<li>self-realization</li>
	<li>stimulation</li>
	<li>success</li>
</ul>

<h2 id="honesty">Honesty</h2>

<ul>
	<li>authenticity</li>
	<li>integrity</li>
	<li>presence</li>
	<li>transparency</li>
</ul>

<h2 id="meaning">Meaning</h2>

<ul>
	<li>aliveness</li>
	<li>awareness</li>
	<li>awe</li>
	<li>celebration of life</li>
	<li>clarity</li>
	<li>consciousness</li>
	<li>creativity</li>
	<li>hope</li>
	<li>mourning</li>
	<li>mystery</li>
	<li>self-expression</li>
	<li>understanding</li>
	<li>wholeness</li>
	<li>wonder</li>
</ul>

<h2 id="peace">Peace</h2>

<ul>
	<li>beauty</li>
	<li>communion</li>
	<li>ease</li>
	<li>equality</li>
	<li>equanimity</li>
	<li>harmony</li>
	<li>inspiration</li>
	<li>order</li>
	<li>tranquility</li>
	<li>serenity</li>
</ul>

<h2 id="physical-well-being">Physical Well-being</h2>

<ul>
	<li>air</li>
	<li>comfort</li>
	<li>food</li>
	<li>movement/exercise</li>
	<li>protection</li>
	<li>rest/sleep</li>
	<li>relaxation</li>
	<li>sexual expression</li>
	<li>safety</li>
	<li>shelter</li>
	<li>touch</li>
	<li>water</li>
</ul>

<h2 id="play">Play</h2>

<ul>
	<li>joy</li>
	<li>humor</li>
	<li>adventure</li>
	<li>fun</li>
	<li>laughter</li>
	<li>spontaneity</li>
</ul>

</div>