---
layout: page
title: NVC Pleasant Feelings Inventory
---

<p>Go <a href="/resources/nvc-inventories">back to the inventory list</a>.</p>

<p>This is a list of feelings that arise when <a href="/resources/nvc-inventories/needs">your needs</a> are being met.</p>

<p>Note: this list isn't exhaustive so feel free to complement it on your end. Moreover, the section titles are feelings too.</p>

<div class="two-col-lists">

<h2 id="affectionate">Affectionate</h2>

<ul>
	<li>compassionate</li>
	<li>friendly</li>
	<li>loving</li>
	<li>open hearted</li>
	<li>sympathetic</li>
	<li>tender</li>
	<li>warm</li>
</ul>

<h2 id="engaged">Engaged</h2>

<ul>
	<li>absorbed</li>
	<li>alert</li>
	<li>curious</li>
	<li>engrossed</li>
	<li>enchanted</li>
	<li>entranced</li>
	<li>fascinated</li>
	<li>interested</li>
	<li>intrigued</li>
	<li>involved</li>
	<li>spellbound</li>
	<li>stimulated</li>
</ul>

<h2 id="hopeful">Hopeful</h2>

<ul>
	<li>expectant</li>
	<li>encouraged</li>
	<li>optimistic</li>
</ul>

<h2 id="confident">Confident</h2>

<ul>
	<li>empowered</li>
	<li>open</li>
	<li>proud</li>
	<li>safe</li>
	<li>secure</li>
</ul>

<h2 id="excited">Excited</h2>

<ul>
	<li>amazed</li>
	<li>animated</li>
	<li>ardent</li>
	<li>aroused</li>
	<li>astonished</li>
	<li>dazzled</li>
	<li>eager</li>
	<li>energetic</li>
	<li>enthusiastic</li>
	<li>giddy</li>
	<li>invigorated</li>
	<li>lively</li>
	<li>passionate</li>
	<li>surprised</li>
	<li>vibrant</li>
</ul>

<h2 id="grateful">Grateful</h2>

<ul>
	<li>appreciative</li>
	<li>moved</li>
	<li>thankful</li>
	<li>touched</li>
</ul>

<h2 id="inspired">Inspired</h2>

<ul>
	<li>amazed</li>
	<li>awed</li>
	<li>wonder</li>
</ul>

<h2 id="joyful">Joyful</h2>

<ul>
	<li>amused</li>
	<li>delighted</li>
	<li>glad</li>
	<li>happy</li>
	<li>jubilant</li>
	<li>pleased</li>
	<li>tickled</li>
</ul>

<h2 id="exhilarated">Exhilarated</h2>

<ul>
	<li>blissful</li>
	<li>ecstatic</li>
	<li>elated</li>
	<li>enthralled</li>
	<li>exuberant</li>
	<li>radiant</li>
	<li>rapturous</li>
	<li>thrilled</li>
</ul>

<h2 id="peaceful">Peaceful</h2>

<ul>
	<li>calm</li>
	<li>clear headed</li>
	<li>comfortable</li>
	<li>centered</li>
	<li>content</li>
	<li>equanimous</li>
	<li>fulfilled</li>
	<li>mellow</li>
	<li>quiet</li>
	<li>relaxed</li>
	<li>relieved</li>
	<li>satisfied</li>
	<li>serene</li>
	<li>still</li>
	<li>tranquil</li>
	<li>trusting</li>
</ul>

<h2 id="refreshed">Refreshed</h2>

<ul>
	<li>enlivened</li>
	<li>rejuvenated</li>
	<li>renewed</li>
	<li>rested</li>
	<li>restored</li>
	<li>revived</li>
</ul>

</div>