---
layout: page
title: NVC Unpleasant Feelings Inventory
---

<details>
	<summary>
		Navigation
	</summary>

	<ul>
		<li>Go <a href="/resources/nvc-inventories">back to the inventory list</a></li>
		<li>Check out the <a href="/resources/nvc-inventories/pleasant-feelings">pleasant feelings list</a> instead</li>
	</ul>
</details>

<p>This is a list of feelings that arise when <a href="/resources/nvc-inventories/needs">your needs</a> are not being met.

<p>Note: this list isn't exhaustive so feel free to complement it on your end. Moreover, the section titles are feelings too.</p>

<div class="two-col-lists">

<h2 id="afraid">Afraid</h2>

<ul>
	<li>apprehensive</li>
	<li>dread</li>
	<li>foreboding</li>
	<li>frightened</li>
	<li>mistrustful</li>
	<li>panicked</li>
	<li>petrified</li>
	<li>scared</li>
	<li>suspicious</li>
	<li>terrified</li>
	<li>wary</li>
	<li>worried</li>
</ul>

<h2 id="annoyed">Annoyed</h2>

<ul>
	<li>aggravated</li>
	<li>dismayed</li>
	<li>disgruntled</li>
	<li>displeased</li>
	<li>exasperated</li>
	<li>frustrated</li>
	<li>impatient</li>
	<li>irritated</li>
	<li>irked</li>
</ul>

<h2 id="angry">Angry</h2>

<ul>
	<li>enraged</li>
	<li>furious</li>
	<li>incensed</li>
	<li>indignant</li>
	<li>irate</li>
	<li>livid</li>
	<li>outraged</li>
	<li>resentful</li>
</ul>

<h2 id="aversion">Aversion</h2>

<ul>
	<li>animosity</li>
	<li>appalled</li>
	<li>contempt</li>
	<li>disgusted</li>
	<li>dislike</li>
	<li>hate</li>
	<li>horrified</li>
	<li>hostile</li>
	<li>repulsed</li>
</ul>

<h2 id="confused">Confused</h2>

<ul>
	<li>ambivalent</li>
	<li>baffled</li>
	<li>bewildered</li>
	<li>dazed</li>
	<li>hesitant</li>
	<li>lost</li>
	<li>mystified</li>
	<li>perplexed</li>
	<li>puzzled</li>
	<li>torn</li>
</ul>

<h2 id="disconnected">Disconnected</h2>

<ul>
	<li>alienated</li>
	<li>aloof</li>
	<li>apathetic</li>
	<li>bored</li>
	<li>cold</li>
	<li>detached</li>
	<li>distant</li>
	<li>distracted</li>
	<li>indifferent</li>
	<li>numb</li>
	<li>removed</li>
	<li>uninterested</li>
	<li>withdrawn</li>
</ul>

<h2 id="disquiet">Disquiet</h2>

<ul>
	<li>agitated</li>
	<li>alarmed</li>
	<li>discombobulated</li>
	<li>disconcerted</li>
	<li>disturbed</li>
	<li>perturbed</li>
	<li>rattled</li>
	<li>restless</li>
	<li>shocked</li>
	<li>startled</li>
	<li>surprised</li>
	<li>troubled</li>
	<li>turbulent</li>
	<li>turmoil</li>
	<li>uncomfortable</li>
	<li>uneasy</li>
	<li>unnerved</li>
	<li>unsettled</li>
	<li>upset</li>
</ul>

<h2 id="embarrassed">Embarrassed</h2>

<ul>
	<li>ashamed</li>
	<li>chagrined</li>
	<li>flustered</li>
	<li>guilty</li>
	<li>mortified</li>
	<li>self-conscious</li>
</ul>

<h2 id="fatigue">Fatigue</h2>

<ul>
	<li>beat</li>
	<li>burnt out</li>
	<li>depleted</li>
	<li>exhausted</li>
	<li>lethargic</li>
	<li>listless</li>
	<li>sleepy</li>
	<li>tired</li>
	<li>weary</li>
	<li>worn out</li>
</ul>

<h2 id="pain">Pain</h2>

<ul>
	<li>agony</li>
	<li>anguished</li>
	<li>bereaved</li>
	<li>devastated</li>
	<li>grief</li>
	<li>heartbroken</li>
	<li>hurt</li>
	<li>lonely</li>
	<li>miserable</li>
	<li>regretful</li>
	<li>remorseful</li>
</ul>

<h2 id="sad">Sad</h2>

<ul>
	<li>depressed</li>
	<li>dejected</li>
	<li>despair</li>
	<li>despondent</li>
	<li>disappointed</li>
	<li>discouraged</li>
	<li>disheartened</li>
	<li>forlorn</li>
	<li>gloomy</li>
	<li>heavy hearted</li>
	<li>hopeless</li>
	<li>melancholy</li>
	<li>unhappy</li>
	<li>wretched</li>
</ul>

<h2 id="tense">Tense</h2>

<ul>
	<li>anxious</li>
	<li>cranky</li>
	<li>distressed</li>
	<li>distraught</li>
	<li>edgy</li>
	<li>fidgety</li>
	<li>frazzled</li>
	<li>irritable</li>
	<li>jittery</li>
	<li>nervous</li>
	<li>overwhelmed</li>
	<li>restless</li>
	<li>stressed out</li>
</ul>

<h2 id="vulnerable">Vulnerable</h2>

<ul>
	<li>fragile</li>
	<li>guarded</li>
	<li>helpless</li>
	<li>insecure</li>
	<li>leery</li>
	<li>reserved</li>
	<li>sensitive</li>
	<li>shaky</li>
</ul>

<h2 id="yearning">Yearning</h2>

<ul>
	<li>envious</li>
	<li>jealous</li>
	<li>longing</li>
	<li>nostalgic</li>
	<li>pining</li>
	<li>wistful</li>
</ul>

</div>