<!DOCTYPE html>
<html class="light" lang="{{ metadata.language }}">

	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		{% include 'meta.njk' %}

		{%- css %}{% include "public/css/reset.css" %}{% endcss %}
		{%- css %}{% include "public/css/base.css" %}{% endcss %}
		{%- css %}{% include "public/css/navbar.css" %}{% endcss %}
		{%- css %}{% include "public/css/card-link.css" %}{% endcss %}

		<style>
			{% getBundle "css" %}
		</style>
	</head>

	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<ul class="notifications"></ul>
		{% include 'icon-symbols.njk' %}

		<header>
			{% include 'navbar.njk' %}
		</header>

		{% if isHome %}
			<section class="banner hero">
				<img
					class="hero-logo"
					width="1040"
					height="480"
					src="/img/vertical-full-logo.png"
					alt="site logo banner"
				>
			</section>
		{% endif %}

		<main class="text-container" id="skip">
			{{ content | safe }}
		</main>

		<aside>
			{% renderTemplate "webc" %}
			<back-to-top class="margin"></back-to-top>
			{% endrenderTemplate %}
		</aside>

		<footer>
			{% if not hideNewsletterBanner %}
				{% renderTemplate "webc" %}
				<newsletter-banner webc:nokeep></newsletter-banner>
				{% endrenderTemplate %}
			{% endif %}

			{% include 'footer.njk' %}
		</footer>
	</body>

</html>

<script>
	const notifications = document.querySelector(".notifications")

	const removeToast = (toast) => {
		// Start animation
		toast
			.classList
			.add("hide");
		// Override previous timeout if necessary
		if (toast.timeoutId) {
			clearTimeout(toast.timeoutId);
		}
		setTimeout(() => toast.remove(), 500);
	}

	const createToast = (text, lifetime = 2000) => {
		const toast = document.createElement("li");
		toast.className = `toast`;
		toast.innerHTML = `<div class="column">
												 <span>${text}</span>
											</div>
											<svg
												width="20"
												height="20"
												onclick="removeToast(this.parentElement)"
											>
												<use xlink:href="#lucide-close"></use>
											</svg>`;
		notifications.appendChild(toast);
		toast.timeoutId = setTimeout(() => removeToast(toast), lifetime);
	}

	const copyURI = (event) => {
		event.preventDefault();
		const url = event
			.target
			.getAttribute('href')
		let baseUrl = window.location.origin
		// Check if the link is absolute or relative to the page
		if (url[0] === '#') {
			baseUrl += window.location.pathname
		}
		navigator
			.clipboard
			.writeText(baseUrl + url)
		createToast('The URL was copied to your clipboard')
	}

{% getBundle "js" %}
</script>

{# Analytics #}
{% if metadata.env === 'prod' %}
	<script
		data-goatcounter="https://thoughtfulinquiry.goatcounter.com/count"
		async src="https://gc.zgo.at/count.js"
	></script>
{% endif %}